# The following is crap needed for the old 4.2 sensor blobs, delete it
# in order to clear the way for 5.0 policy
# Stupid blob uses /data/app for the socket, allow creation...
# allow sensors apk_data_file:dir { write remove_name add_name };
# type_transition sensors apk_data_file:sock_file sensors_socket "sensor_ctl_socket";

allow sensors qmuxd:unix_stream_socket connectto;
allow sensors qmuxd_socket:dir { write add_name search };
allow sensors qmuxd_socket:sock_file { create setattr write };
allow sensors self:capability sys_nice;
allow sensors unlabeled:dir search;
